.Rproj.user
.Rhistory
.RData
.Ruserdata
media/Bibliography.html
/mycology/media/Amend_tenure_talk.pptx
mycology/lectures/Week3.odp
*.~lock*
mycology/lectures/Week3.odp
archived_websites/
mycology/lectures/Week3.pdf
